
h1 {
  @apply font-extrabold bg-gradient-to-r from-orange-400 to-rose-500 bg-clip-text text-transparent leading-loose p-2;
}
h2 {
  @apply leading-loose;
}
h3 {
  @apply text-slate-950 dark:text-slate-100 font-medium
}

.like-h3 {
  @apply uppercase text-slate-950 dark:text-slate-100 font-medium opacity-40 text-sm tracking-widest leading-5 pt-2
}


.slidev-layout.section h1 {
  @apply font-bold
}

/* Remove backticks from code tags */
:not(pre) > code:before,
:not(pre) > code:after {
  content: none;
}

ul li {
  @apply list-image-[url(chevron-right.svg)] dark:list-image-[url(chevron-right-white.svg)];
}

ol:not(.slidev-toc-list) li {
  @apply list-decimal
}

.slidev-vclick-target {
  transition: all 500ms ease;
}
